h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Mitr', sans-serif !important;
}

body {
    font-family: "Kanit",sans-serif !important;
    font-size: 14px !important;
    line-height: 1.72222;
}

body {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#map{
    height: 70vh; 
    width: 100%;
    border-radius: 5px;
}

#chart{
    height: 70vh; 
    width: 100%;
    border-radius: 5px;
}

.jumbotron {
    padding: 1rem 1rem !important;
}

.fx{
    height: 70vh; 
    width: 100%;
    overflow: auto;
}

.inp{
    border: none;
    background-color:rgb(238, 238, 238);
}

.f16{
font-size: 16px;
}



