body {
    font-family: "Kanit", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#map { 
    height: 300px;
}

.mb-20{
    margin-bottom: 20px;
}

/* .modal {
    visibility: hidden;
    display: block;
  }
  
  .modal[aria-hidden='false'] {
    visibility: visible;
    display: block;
  } */