h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Mitr', sans-serif !important;
}

body {
    font-family: "Kanit",sans-serif !important;
    font-size: 14px !important;
    line-height: 1.72222;
}

#map {
    height: 350px;
    width: 100%;
    /* border-radius: 10px; */
  }